*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Tahoma ,Arial;
}
.slide-container{
    position: relative;
    margin: 10px auto;
    width: 800px;
    height: 250px;
}
.slide-container img{
    position: absolute;
    opacity: 0;
    transition: opacity 1s;
    z-index: 1;
    width: 100%;
    height: 100%;
}
.slide-container img.active{
    opacity: 1;
}
.slide-container .slide-number{
    position: absolute;
    left: 10px ;
    top: 10px;
    background-color: #007;
    color: #fff;
    z-index: 2;
    font-size: 20px;
    border-radius: 6px;
    padding: 5px 10px;
}
.slider-control{
    width: 800px;
    margin: auto;
    overflow: hidden;
}
.slider-control .prev,
.slider-control .next{
    background-color: #007;
    color: #fff;
    font-size: 16px;
    padding: 5px;
    text-align: center;
    width: 20%;
    user-select: none;
    border-radius: 4px;
    cursor: pointer;

}
.slider-control .prev{
    float: left;
}
.slider-control .next{
    float: right;
}  
.slider-control .prev.disable,
.slider-control .next.disable{
    background-color: #00007794;
    cursor: no-drop;

}

.slider-control .indicator{
    width: 60%;
    float: left;
}
.slider-control .indicator ul {
    display: flex;
    justify-content: center;
    align-items: center; 
   list-style: none;
   margin: 0;
   text-align: center;

}
.slider-control .indicator ul li{
 
    background-color: #f6f6f6;
    color: #333;
    font-weight: bold;
    height: 28px;
    width: 28px;
    border: 4px;
    margin: 0 2px;
    line-height: 28px;
    cursor: pointer;    
}
.slider-control .indicator ul li.active{
    background-color: #007;
    color: #fff;
   
}