*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 18px;
}
.container{
    
    margin: 20px auto;
    width: 1200px;
     
}
.container .color-switcher{
    list-style: none;
    text-align: center;
    margin-bottom: 20px;
    
}
.container .color-switcher li{
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

ul li:nth-child(1){
    
    background-color: red;
}
ul li:nth-child(2){
   
    background-color: green;
}
ul li:nth-child(3){
    
    background-color: purple;
}
ul li:nth-child(4){
    
    background-color: black;
}
 /* h3{
   
    color: red;
    margin-bottom: 15px;
   
}
.container div{
     color: white; 
    background: red;
    padding: 20px;
    
}  */

.red h3{
   
    color: red;
    margin-bottom: 15px;
   
}
.red .container div{
     color: white; 
    background: red;
    padding: 20px;
    
}
.green h3{
   
    color: green;
    margin-bottom: 15px;
   
}
.green .container div{
     color: white; 
    background: green;
    padding: 20px;
    
}
.purple h3{
   
    color: purple;
    margin-bottom: 15px;
   
}
.purple .container div{
     color: white; 
    background: purple;
    padding: 20px;
    
}
.black h3{
   
    color: black;
    margin-bottom: 15px;
   
}
.black .container div{
     color: white; 
    background: black;
    padding: 20px;
    
}

